.uk-nav-divider
{
    margin-left:20px;
    margin-right: 20px;

}

.uk-carde{
    margin: auto;

}
.comment{
    border-bottom: 1px solid black;
}
.uk-card-default
{
    margin-top: 20px;
}
.cata{
    position: fixed;
    left: 0px;
    top: 45%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    line-height: 0px;
    padding: 5px;
    text-align: center;
    background-color: #f8f8f8;
}

.newPost{resize: none;
    width: 100%;
    padding: 20px;
    border: 0px;
    display:block;}
